/* Just to add some clarity I bolded the words that get swapped */
.sport {
    font-weight: bold
}
.company {
    font-weight: bold
}
.money {
    font-weight: bold
}
.human {
    font-weight: bold
}
.president {
    font-weight: bold
}
.number {
    font-weight: bold
}
.fuel {
    font-weight: bold
}
body {
    background-color: lightskyblue;
}
/* the background color works in when I open this up on my computer but does not appear on GitHub website for me for some reason even though I have updated everything. */
/* Oh nevermind its working now, I guess complaining solved it */
