/* Just to add some clarity I bolded the words that get swapped */
.sport {
    font-weight: bold
}
.company {
    font-weight: bold
}
.money {
    font-weight: bold
}
.human {
    font-weight: bold
}
.president {
    font-weight: bold
}
.number {
    font-weight: bold
}
.fuel {
    font-weight: bold
}
body {
    background-color: lightskyblue;
}